{% extends 'dashboard/dashboard_base.html' %}


{% block dashboard_section %}
    <h3>Inventory Transfer Log</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Details</th>
                <th>Quantity</th>
                <th>Date & time</th>
            </tr>
        </thead>
        <tbody>
            {% for transfer in transfers %}
                <tr>
                    <td>
                        {{ transfer.to_stock.product.name }}
                    </td>
                    <td>
                        {% if not transfer.from_stock %}
                            <p>
                                <strong class="text-success" style="font-size: 1.1em;">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                    New stock
                                </strong>
                            </p>
                            <p>
                                <strong>To office: </strong>{{ transfer.to_stock.office.name }}
                            </p>
                        {% else %}
                            <p>
                                <strong class="text-info" style="font-size: 1.1em;">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                    Stock transfer
                                </strong>
                            </p>
                            <p>
                                <strong>From office: </strong>{{ transfer.from_stock.office.name }}
                            </p>
                            <p>
                                <strong>To office: </strong>{{ transfer.to_stock.office.name }}
                            </p>

                        {% endif %}
                    </td>
                    <td>{{ transfer.quantity }}</td>
                    <td>{{ transfer.transferred_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}