{% extends 'dashboard/dashboard_base.html' %}
{% load static %}


{% block dashboard_section %}
    <div class="well">
        <div class="row">
            <div class="col-md-5">
                <select id="productSelect" required class="form-control">
                    <option selected disabled></option>
                    {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-7">
                <button class="btn btn-primary btn-sm" id="productSelectBtn"
                        style="height: 28px; padding: 0 5px;">Load inventory data</button>
            </div>
        </div>
    </div>


    {% if selected_product %}
        <h3>Inventory of "{{ selected_product.name }}"</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Office name</th>
                    <th>Quantity</th>
                    <th style="width: 200px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.office.name }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>
                            <button class="btn btn-info btn-sm btn-block moveStockBtn"
                                    data-office-id="{{ stock.office.id }}" data-office-name="{{ stock.office.name }}">
                                <span class="glyphicon glyphicon-move"></span>
                                Transfer stock
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-success" id="addStockBtn">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add new stock
        </button>

        <!-- New stock modal -->
        <div class="modal fade" id="newStockModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'product_inv' selected_product.id %}?action=add" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add new stock to "Product #{{ selected_product.id }}"</h4>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="officeId">Select office to add stock to: </label>
                                <select name="office_id" id="officeId">
                                    {% for office in offices %}
                                        <option value="{{ office.id }}">{{ office.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="quantity" placeholder="Quantity"
                                        type="number" min="1">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Transfer stock modal -->
        <div class="modal fade" id="moveStockModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'product_inv' selected_product.id %}?action=move" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                Move stock of "Product#{{ selected_product.id }}" from <span id="fromOfficeName"></span>
                            </h4>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <input type="hidden" name="from_office_id">
                            <div class="form-group">
                                <label for="officeId2">Select office to move stock to: </label>
                                <select name="to_office_id" id="officeId2">
                                    {% for office in offices %}
                                        <option value="{{ office.id }}">{{ office.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="quantity" placeholder="Quantity"
                                        type="number" min="1">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">

{% endblock %}


{% block extra_scripts %}
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
    <script>
    $(function () {
        $('#addStockBtn').click(function () {
            $('#newStockModal').modal();
        });

        $('.moveStockBtn').click(function () {
            $('#fromOfficeName').text($(this).data('officeName'));
            $('input[name=from_office_id]').val($(this).data('officeId'));
            $('#moveStockModal').modal();
        });

        $('#productSelect').select2({
            placeholder: 'Please select a product'
        });

        $('#productSelectBtn').click(function () {
            var productId = $('#productSelect').val();
            if (productId) {
                window.location = '/dashboard/inventory/' + productId;
            } else {
                alert('Invalid selection');
            }
        });
    });
    </script>
{% endblock %}