{% extends 'dashboard/dashboard_base.html' %}
{% load static %}


{% block dashboard_section %}
    <div class="row">
        <div class="col col-md-12">

            <h3>Categories</h3>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category name</th>
                        <th colspan="2" style="width: 200px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <button class="btn btn-warning btn-sm btn-block renameCatBtn" data-cat-id="{{ category.id }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Rename
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-block deleteCatBtn" data-cat-id="{{ category.id }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                Delete
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">
                            <p style="padding: 10px; text-align: center;" class="text-muted">
                                No categories.
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <button class="btn btn-success" id="createCatBtn">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Create new category
            </button>

            <form method="POST" action="{% url 'category_create' %}" id="createCatForm">
                {% csrf_token %}
                <input type="hidden" name="category_name">
            </form>

            <form method="POST" action="{% url 'category_rename' %}?category_id=" id="renameCatForm">
                {% csrf_token %}
                <input type="hidden" name="category_name">
            </form>



        </div>
    </div>

    <script src="{% static 'js/utils.js' %}"></script>

    <script>
    $(function () {
        $('#createCatBtn').click(function () {
            var name = prompt('Please enter the name of new category');

            if (!!name) {
                var $f = $('#createCatForm');
                $f.find('input[name=category_name]').val(name);
                $f[0].submit();
            }
        });


        $('.renameCatBtn').click(function () {
            var name = prompt('Please enter the new name for category');

            if (!!name) {
                var $f = $('#renameCatForm');
                $f.find('input[name=category_name]').val(name);
                $f.attr('action', $f.attr('action') + $(this).data('catId'));
                $f[0].submit();
            }
        });


        $('.deleteCatBtn').click(function () {
            if (!!confirm('Do you really want to delete this category?')) {
                window.location = "{% url 'category_delete' %}?category_id=" + $(this).data('catId');
            }
        });
    });
    </script>

{% endblock %}

