<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order info</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/flatly.min.css' %}">
    <style>
        body {
            padding: 5px;
        }
    </style>
</head>
<body>

    <h3>Order Details</h3>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Order ID</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Date & time</th>
                <td>{{ order.checkout_at }}</td>
            </tr>
            <tr>
                <th>Customer info</th>
                <td>{{ order.customer.user.get_full_name }}</td>
            </tr>
            <tr>
                <th>Delivery address</th>
                <td>{{ order.delivery_address | default:'N/A' }}</td>
            </tr>
            <tr>
                <th>Customer phone</th>
                <td>{{ order.contact_phone | default:'N/A' }}</td>
            </tr>
            <tr>
                <th>Ordered items</th>
                <td>
                    <div>
                        {% for cart_item in order.cartitem_set.all %}
                            <h4>
                                <span class="label label-info pull-right">৳ {{ cart_item.subtotal }}</span>
                                {{ cart_item.product.name }}
                            </h4>
                            <table class="table table-striped">
                                <tr>
                                    <th>Quantity</th>
                                    <td>{{ cart_item.quantity }}</td>
                                </tr>
                                {% if cart_item.product_variation %}
                                    <tr>
                                        <th>Variation</th>
                                        <td>{{ cart_item.product_variation.name }}</td>
                                    </tr>
                                {% endif %}
                                {% if cart_item.product_attachment.count %}
                                    <tr>
                                        <th>Attachments</th>
                                        <td>
                                            {% if cart_item.product_attachment.count %}
                                                {% for att in cart_item.product_attachment.all %}
                                                    <li>{{ att.name }}</li>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{% url 'process_order' order.id %}" class="btn btn-primary">Process Order</a>

</body>
</html>