{% extends 'dashboard/dashboard_base.html' %}


{% block dashboard_section %}
    <div class="row">
        <div class="col col-md-12">

            <h3>Pending Orders</h3>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer info</th>
                        <th>Date & time</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            {{ order.id }} <br>
                        </td>
                        <td>
                            <strong>Name:</strong> {{ order.customer.user.get_full_name }}<br>
                        </td>
                        <td>
                            {{ order.checkout_at }}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-block order-details" data-cart-id="{{ order.id }}">
                                Show details
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-block process-order" data-cart-id="{{ order.id }}">
                                Process order
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            <p style="padding: 10px; text-align: center;" class="text-muted">
                                No pending orders at this time.
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



        </div>
    </div>

    {% load static %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        $(function () {

            $('.order-details').on('click', function () {
                createWindow('/dashboard/order-details/' + $(this).data('cartId').toString() + '/');
            });

            $('.process-order').on('click', function () {
                createWindow('/dashboard/process-order/' + $(this).data('cartId').toString() + '/');
            });

        });
    </script>


{% endblock %}

