<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order info</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/flatly.min.css' %}">
    <style>
        body {
            padding: 5px;
        }
    </style>
</head>
<body>
    <h3>Process Order #{{ order.id }}</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Office</th>
                <th>Available</th>
                <th>Assign</th>
            </tr>
        </thead>
        {% for cart_item in cart_items %}
            <tbody class="cartItemGroup" data-cartitem-id="{{ cart_item.id }}">
                <tr>
                    <td colspan="3">
                        <span style="font-size: 1.3em; font-weight: bold;">
                            <a href="/admin/main/product/{{ cart_item.product.id }}/" target="_blank">
                                [{{ cart_item.product.id }}]
                            </a>
                            &nbsp;&nbsp;
                            {{ cart_item.product.name }}

                            <span class="label label-danger numRqdLabel" style="float: right;">
                                Total required:&nbsp;&nbsp;
                                <span class="numRqd">{{ cart_item.quantity }}</span>
                            </span>
                        </span>
                    </td>
                </tr>
                {% for stock in cart_item.product.stock_set.all %}
                    <tr>
                        <td>Stock @ {{ stock.office.name }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>
                            <input type="number" class="qtySelectorInput" data-stock-id="{{ stock.id }}"
                                   value="0" min="0" max="{{ stock.quantity }}" style="width: 80px;">
                        </td>
                    </tr>
                {% endfor %}
                <input type="hidden" class="cartItemError" value="1">
            </tbody>
        {% endfor %}
    </table>

    <form action="" class="form-inline" id="cartForm" method="POST">
        {% csrf_token %}
        <h4 style="display: inline-block; max-width: 45%;">Total amount to charge (৳)</h4>
        <input type="number" class="form-control" style="display: inline-block; max-width: 45%;"
               id="amntChargable" name="amount_charged"
                min="0" value="{{ order.total | floatformat:'0' }}">
        <br><br>
        {% for cart_item in cart_items %}
            <input type="hidden" name="cartItem_{{ cart_item.id }}_stockChange">
        {% endfor %}

        <button class="btn btn-success" disabled>Complete order</button>
    </form>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        $(function(){
            var $cartForm = $('#cartForm');

            $('.cartItemGroup').each(function(_, el) {
                new RequirementAdjust(el);
            });

            $('.qtySelectorInput').change(function(){
                var errors = 0;
                $('.cartItemError').each(function(_, el){
                    errors += parseInt($(el).val());
                });

                if (errors > 0) {
                    $cartForm.find('button').prop('disabled', true);
                } else {
                    $cartForm.find('button').prop('disabled', false);
                }
            });
        });
    </script>

</body>
</html>

