{% extends "base.html" %}

{% block content %}

    <div class="login-alerts-container">
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% elif form.errors %}
            <div class="alert alert-danger" role="alert">
                Your username and password didn't match. Please try again.
            </div>
        {% endif %}

        {% if next %}
            <div class="alert alert-warning" role="alert">Please login to see this page.</div>
        {% endif %}
    </div>

    <div class="login-form-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login to your account</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="submit" class="btn btn-default" value="Login">

                    <a class="pull-right reg-link" href="{% url 'register' %}">Need an account?</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_styles %}
    <style>
    .login-alerts-container {
        width: 600px;
        margin: 10px auto;
        min-height: 100px;
    }
    .login-form-container {
        width: 350px;
        margin: 0 auto;
    }
    .reg-link {
        margin-top: 10px;
        margin-right: 3px;
    }
    </style>
{% endblock %}
