{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="{{ user.customer.get_photo_url }}" alt="photo" id="profilePhoto">

                    <form action="{% url 'update_photo' %}" method="POST" enctype="multipart/form-data" id="photoForm">
                        {% csrf_token %}
                        <input type="file" name="photo" onchange="submitPhotoForm()" id="photoFileField">
                    </form>
                    <div class="row">
                        <div class="col col-md-6">
                            <a href="#"
                               onclick="uploadButtonClickedHandler()"
                               class="btn-primary btn-sm btn-block photoActionBtn">
                                <span class="glyphicon glyphicon-floppy-open"></span> Upload photo
                            </a>
                        </div>
                        <div class="col col-md-6">
                            <a href="{% url 'delete_photo' %}" class="btn-danger btn-sm btn-block photoActionBtn">
                                <span class="glyphicon glyphicon-floppy-remove"></span> Remove current
                            </a>
                        </div>
                    </div>
                    <script>
                        function uploadButtonClickedHandler() {
                            document.getElementById('photoFileField').click();
                        }
                        function submitPhotoForm() {
                            document.getElementById('photoForm').submit();
                        }
                    </script>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>{{ user.get_full_name }}</h4>
                    </li>
                    <li class="list-group-item">
                        <strong>Email address: </strong> {{ user.email }}
                    </li>
                    <li class="list-group-item">
                        <strong>Registered at </strong> {{ user.date_joined | date:'M d, Y - h:m A' }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col col-md-8">
            <div>
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#editProfile" data-toggle="tab">Edit profile</a>
                    </li>
                    <li>
                        <a href="#myPurchase" data-toggle="tab">My purchase history</a>
                    </li>
                </ul>
                <br>

                <div class="tab-content">
                    <div class="tab-pane active" id="editProfile">

                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="well well-lg">
                                        <form action="{% url 'profile' %}" method="post" class="form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="phone" placeholder="Phone number (e.g. +880123456789)" value="{{ user.customer.phone_number | default:'' }}" required>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="address" placeholder="Home address" style="resize: none; height: 95px;" required>{{ user.customer.home_address | default:'' }}</textarea>
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-block">Save Profile</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="well">
                                        <form action="{% url 'update_password' %}" method="post" class="form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="old" placeholder="Old password">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="new" placeholder="New password">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="confirm" placeholder="Repeat new password">
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <div class="tab-pane" id="myPurchase">
                        {% include 'main/my_purchases.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block extra_styles %}
    <style>
        #profilePhoto {
            width: 80%;
            border: 5px solid #ddd;
            margin: 0 10% 15px;
        }
        #photoForm {
            display: none;
        }
    .photoActionBtn {
        text-align: center;
    }
    .photoActionBtn:hover {
        text-decoration: none;
    }
    </style>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'vendor/moment.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}