{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="login-alerts-container">
        {% if errors %}
            <div class="alert alert-danger" role="alert">{{ errors }}</div>
        {% endif %}

    </div>

    <div class="login-form-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create a new account</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-md-6">
                                <input type="text" class="form-control" name="first_name" placeholder="First name" required>
                            </div>
                            <div class="col col-md-6">
                                <input type="text" class="form-control" name="last_name" placeholder="Last name" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email address" required>
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="home_address" placeholder="Home address" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone_number" placeholder="Phone number" required>
                    </div>

                    <input type="submit" class="btn btn-default" value="Submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_styles %}
    <style>
    .login-alerts-container {
        width: 600px;
        margin: 10px auto;
        min-height: 25px;
    }
    .login-form-container {
        width: 400px;
        margin: 0 auto;
    }
    textarea[name=home_address] {
        resize: none;
    }
    </style>
{% endblock %}
