{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col col-md-3">
            {% include 'dashboard/dashboard_nav.html' %}
        </div>
        <div class="col col-md-9">
            {% block dashboard_section %}{% endblock %}
        </div>
    </div>

{% endblock %}
