{% extends 'dashboard/dashboard_base.html' %}

{% block dashboard_section %}
    <div class="well">
        <div class="row">
                <div class="col-md-6">
                    <h4 style="font-size: 25px;">
                        <span class="glyphicon glyphicon-th"></span> Dashboard
                    </h4>
                </div>
                <div class="col-md-6 staff-info">
                        <p>
                            Welcome, <strong>{{ user.get_full_name|default:user.email }}</strong>
                        </p>
                        {% if user.profile.is_examiner %}<span class="label label-primary">Examiner</span>{% endif %}
                        {% if user.is_staff %}<span class="label label-info">Staff</span>{% endif %}
                        {% if user.is_superuser %}<span class="label label-danger">Super user</span>{% endif %}
                </div>
        </div>
    </div>

    <div class="row chartsRow">
        <div class="col-md-6">
            <div class="well well-sm">
                <div id="weeklyChartContainer"></div>
                <a href="{% url 'period-sales' %}" class="btn btn-primary">Show more sales records</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <div id="itemChartContainer"></div>
                <a href="{% url 'item-sales' %}" class="btn btn-primary">Show product popularity records</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h4>User Purchase History</h4>
                <form action="{% url 'user-history' %}" method="get">
                    <input type="text" class="form-control" name="username"
                           placeholder="Username" style="margin-bottom: 10px;" required>
                    <button type="submit" class="btn btn-primary">Get user records</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h4>Product Sales History</h4>
                <form action="{% url 'product-history' %}" method="get">
                    <select id="productSelect" name="product_id" required class="form-control"
                            style="margin-bottom: 10px;" required>
                        <option selected disabled></option>
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;" >Get product records</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% load static %}
{% block extra_scripts %}
    <script src="{% static 'vendor/canvasjs.min.js' %}"></script>
    <script src="{% static 'vendor/moment.js' %}"></script>
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
    <script>
    $(function(){
        $('#productSelect').select2({placeholder: 'Please select a product'});

        try {
            (new CanvasJS.Chart("itemChartContainer", {
                title: {
                    text: "Top most popular items",
                    fontFamily: "Helvetica",
                    fontSize: 24,
                    fontWeight: "normal"
                },
                height: 400,
                backgroundColor: null,
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        dataPoints: JSON.parse('{% autoescape off %}{{ hottest }}{% endautoescape %}')
                    }
                ]
            })).render();

            var rawData = JSON.parse('{% autoescape off %}{{ weekly }}{% endautoescape %}');
            var formattedData = [];
            for (var key in rawData) {
                formattedData.push({x:(moment(key)._d), y:rawData[key]});
            }

            (new CanvasJS.Chart("weeklyChartContainer", {
                title:{
                    text: "Weekly sales statistics",
                    fontFamily: "Helvetica",
                    fontSize: 24,
                    fontWeight: "normal"
                },
                height: 400,
                backgroundColor: null,
                axisX:{
                    title: "Days of week",
                    valueFormatString: "DDD"
                },
                axisY: {
                    title: "Amount of sales"
                },
                data: [
                    {
                        type: "column",
                        dataPoints: formattedData
                    }
                ]
            })).render();
        } catch (exp) {}
    });
    </script>
{% endblock %}


{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <style>
        .staff-info .label {
            font-size: 1em;
        }
        .dash-info-table td a {
            float: right;
            font-size: smaller;
            font-weight: bold;
            text-transform: uppercase;
        }
        #itemChartContainer, #weeklyChartContainer {
            height: 420px;
        }
    </style>
{% endblock %}