{% if user.is_staff %}
    <div class="btn-group" style="margin-bottom: 15px;">
        <a href="/admin/" class="btn btn-success" target="_blank">
            <span class="glyphicon glyphicon-cog"></span>
            Admin Panel
        </a>

        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="/admin/auth/user/" target="_blank">Manage Users</a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}

<ul class="nav nav-pills nav-stacked">
    <li id="dashNavHome">
        <a href="{% url 'dashboard' %}">Dashboard Home</a>
    </li>
    <li id="pendingOrders">
        <a href="{% url 'pending_orders' %}">Pending Orders</a>
    </li>
    <li id="warrantyClaims">
        <a href="{% url 'warranty_claims' %}">Warranty Claims</a>
    </li>
    <li id="cats">
        <a href="{% url 'categories' %}">Manage Categories</a>
    </li>
    <li id="products">
        <a href="/admin/main/product/">Manage Products</a>
    </li>
    <li id="branches">
        <a href="/admin/main/office/">Branches & Managers</a>
    </li>
    <li id="productInventory">
        <a href="{% url 'product_inv' %}">Product Inventory</a>
    </li>
    <li id="inventoryHistory">
        <a href="{% url 'inv_history' %}">Inventory History</a>
    </li>
</ul>

<script>
    (function (str) {
        switch (true) {
            case '/dashboard/' === str:
                $('#dashNavHome').addClass('active');
                break;
            case '/dashboard/pending/' === str:
                $('#pendingOrders').addClass('active');
                break;
            case '/dashboard/warranty-claims/' === str:
                $('#warrantyClaims').addClass('active');
                break;
            case '/dashboard/categories/' === str:
                $('#cats').addClass('active');
                break;
            case '/dashboard/products/' === str:
                $('#products').addClass('active');
                break;
            case '/dashboard/branches/' === str:
                $('#brances').addClass('active');
                break;
            case '/dashboard/inventory-history/' === str:
                $('#inventoryHistory').addClass('active');
                break;
            case /\/dashboard\/inventory\//.test(str):
                $('#productInventory').addClass('active');
                break;
        }
    })('{{ request.path }}');
</script>
