{% extends 'dashboard/dashboard_base.html' %}
{% load static %}


{% block dashboard_section %}
    <div class="row">
        <div class="col col-md-12">
            <h3>
                <select id="fddsfsdfdsfsdf">
                    <option value="0">Uncategorized</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                Products
            </h3>
            <script>

            </script>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product name</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>
                            <button class="btn btn-warning btn-sm btn-block editProductBtn"
                                    data-product-id="{{ product.id }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-block deleteProductBtn"
                                    data-product-id="{{ product.id }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                Delete
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">
                            <p style="padding: 10px; text-align: center;" class="text-muted">
                                No products.
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

{% endblock %}

