{% for cart_item in cart_items %}
    <li class="cartListItem">
        <div>
            <h4>
                <a href="{% url 'remove_cartitem' cart_item.id %}" class="text-danger" style="font-size: 12px; margin-right: 5px;">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                <span class="label label-info pull-right">৳ {{ cart_item.subtotal }}</span>
                {{ cart_item.product.name }}
                <span class="text-muted" style="font-size: .8em;">&times; {{ cart_item.quantity }}</span>
            </h4>
            <div>
                {% if cart_item.product_variation %}
                    <strong>Variation:</strong> {{ cart_item.product_variation.name }}
                {% endif %}
            </div>
            <div>
                {% if cart_item.product_attachment.count %}
                    <strong>Attachments:</strong>
                    {% for att in cart_item.product_attachment.all %}
                        <span class="label label-default">{{ att.name }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </li>
{% endfor %}