{% if user.is_authenticated and cart_items.count %}
    <div class="dropdown" id="cartDropdown" style="display: inline-block">
        <button class="btn btn-info navbar-btn navbar-right dropdown-toggle" data-toggle="dropdown">
            Cart
            &nbsp; <span class="badge badge-info">{{ cart_items.count }}</span> &nbsp;
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" style="width: 450px; padding: 15px;">
            <div style="max-height: 450px; overflow-y: scroll; margin-bottom: 10px;">
                {% include 'main/cart_dropdown_contents.html' %}
            </div>
            <li>
                <div class="row">
                    <div class="col col-md-5">
                        <a href="{% url 'cart_clear' %}" class="btn btn-default btn-sm btn-block">
                            <span class="glyphicon glyphicon-trash"></span>
                            Clear cart
                        </a>
                    </div>
                    <div class="col col-md-7">
                        <a href="{% url 'cart_checkout' %}" class="btn btn-success btn-sm btn-block">
                            <span class="glyphicon glyphicon-ok"></span>
                            Proceed to Checkout
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endif %}