{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col col-md-6">
            <div class="well" style="">
                <h2>Summary</h2>
                {% include 'main/cart_dropdown_contents.html' %}
                <h4 style="margin-top: 20px;">
                    Total: <strong>৳ {{ total_price }}</strong>
                </h4>
            </div>
        </div>

        <div class="col col-md-6">
            <form method="POST">
                {% csrf_token %}
                <h4>Shipping Address</h4>
                <textarea name="address" class="form-control" rows="6" style="resize: vertical"
                          required>{{ user.customer.home_address | default:'' }}</textarea>
                <h4>
                    Phone Number
                    <i class="text-danger" style="font-size: .7em; margin-left: 10px;">
                        Including country code (e.g. +880123456789)
                    </i>
                </h4>
                <input type="text" name="phone" class="form-control" value="{{ user.customer.phone_number | default:'' }}" required>
                <br>
                <button type="submit" class="btn btn-lg btn-success">Send Orders</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block extra_styles %}
    <style>
        .well li {
            list-style-type: none;
        }
        .cartListItem {
            padding: 0 0 10px;
            border-bottom: 1px solid #999;
        }
    </style>
{% endblock %}

{% block extra_scripts %}
    <script>
        $(function(){
            $('#cartDropdown').remove();
        });
    </script>
{% endblock %}