{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="background-img"></div>
        <div class="content">
            <h1>Business Name</h1>
            <p>
                Welcome to our website. Our awesome slogun goes here...
            </p>
            <br>
            <br>
            <a class="btn btn-info btn-lg" href="{% url 'product_list' %}">
                <span class="glyphicon glyphicon-list"></span>
                Browse Products
            </a>
        </div>
    </div>

    <hr>

    {% if products.count %}
        <h3>Our Featured Products</h3>
        <br>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ product.get_photo_url }}" about="img" style="height: 200px; max-width: 100%;">
                        <div class="caption">
                            <h4>{{ product.name }}</h4>
                            <div class="rating" data-rating="{{ product.avg_rating }}"></div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{% url 'product_details' product.id %}" class="btn btn-primary btn-block" role="button">Details</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'product_details' product.id %}#reviews" class="btn btn-default btn-block" role="button">Reviews</a>
                                </div>
                            </div>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
        <script>
            $(function () {
                $('.rating').each(function (_, el) {
                    makeRatingStars($(el));
                });
            });
        </script>
    {% endif %}
{% endblock %}
