<table class="table table-bordered">
    <tbody>
        
        {% for purchase in purchases %}
            <tr>
                <td colspan="2">
                    <strong>Order ID:</strong> {{ purchase.id }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <strong>Date & time:</strong> {{ purchase.completed_at }}
                </td>
            </tr>
            {% for cartitem in purchase.cartitem_set.all %}
                <tr>
                    <td>
                        <strong>{{ cartitem.product.name }}</strong>
                        &nbsp;
                        <small>(Quantity: {{ cartitem.quantity }})</small>
                        {% if cartitem.product_attachment.count %}
                            <div style="margin-top: 10px;">
                                Attachments:
                                {% for att in cartitem.product_attachment.all %}
                                    <span class="badge badge-info">{{ att.name }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </td>
                    <td class="warrantyTd">
                        {% if cartitem.warranty_available %}
                            <button class="btn btn-primary btn-sm btn-block warrantyBtn"
                                    data-cart-item-id="{{ cartitem.id }}"
                                    data-cart-item-name="{{ cartitem.product.name }}"
                                    data-purchase-datetime="{{ cartitem.cart.completed_at }}"
                                    data-toggle="modal"
                                    data-target="#warrantyModal">
                                Claim warranty
                            </button>
                        {% else %}
                            <button class="btn btn-danger btn-sm btn-block disabled">Warranty expired!</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td colspan="2">
                    <p class="text-muted" style="text-align: center;">You have not purchased any products yet.</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="warrantyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'warranty_claim' %}" method="POST" id="warrantyForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warranty Claim</h4>
                </div>
                <div class="modal-body">
                    <h5>
                        <strong>Product: </strong><span id="modal-product-name"></span>
                    </h5>
                    <h5>
                        <strong>Purchase time: </strong><span id="modal-purchase-datetime"></span>
                    </h5>
                    <br>
                        {% csrf_token %}
                        <input type="hidden" name="cartitem_id">
                        <div class="form-group">
                            <textarea class="form-control" name="issue_details" rows="5"
                                      placeholder="Please write about your problem with the product in detail" required></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Send Warranty Request</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        var $modal = $('#warrantyModal');
        $('.warrantyBtn').click(function () {
            var $el = $(this);
            $modal.find('#modal-product-name').text($el.data('cartItemName'));
            $modal.find('#modal-purchase-datetime').text($el.data('purchaseDatetime'));
            $modal.find('input[name=cartitem_id]').val($el.data('cartItemId'));
        });
    });
</script>