{% extends 'base.html' %}
{% load static %}
{% load markdown %}


{% block content %}
    <div class="row">
        <div class="col col-md-4" style=" text-align: center;">
            <div class="thumbnail">
                <img src="{{ product.get_photo_url }}" alt="product photo" style="max-width: 100%;">
                <div class="caption">
                    {% if product.photo_caption %}
                        <p>
                            <small>{{ product.photo_caption }}</small>
                        </p>
                    {% endif %}
                    <a href="{{ product.get_photo_url }}" class="btn btn-primary btn-xs" id="photoLightbox">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                        Show full size
                    </a>
                    <script>
                        $('#photoLightbox').click(function (evt) {
                            evt.preventDefault();
                            $(this).ekkoLightbox();
                        });
                    </script>
                </div>
            </div>

        </div>
        <div class="col col-md-8">
            <h2>{{ product.name }}</h2>

            <table class="product-list-info-table">
                <tr>
                    <td><strong>Rating</strong></td>
                    <td><div class="rating" data-rating="{{ product.avg_rating }}"></div></td>
                </tr>
                <tr>
                    <td><strong>Price</strong></td>
                    <td><strong class="label label-primary">৳ {{ product.default_price | floatformat:'0' }}</strong></td>
                </tr>
                {% if product.warranty_period %}
                    <tr>
                        <td><strong>Warranty</strong></td>
                        <td>
                            {{ product.warranty_period }} months
                        </td>
                    </tr>
                {% endif %}
                {% if product.stock_quantity %}
                    <tr>
                        <td colspan="2">
                            <h4 class="text-success" style="margin: 0;">
                                <div class="glyphicon glyphicon-ok-circle"></div>
                                In sock
                            </h4>
                        </td>
                    </tr>
                {% endif %}
            </table>
            {{ product.description | markdown | safe }}
            <hr>

            {% if product.stock_quantity > 0 %}
                <form action="{% url 'product_add_to_cart' product.id %}" method="POST">
                    {% if product.productvariation_set.count or product.productattachment_set.count %}
                        <div class="row">
                            {% if product.productvariation_set.count %}
                                <div class="col col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5>Select variation</h5>
                                        </div>
                                        <table class="table table-hover variation-list">
                                            {% for variation in product.productvariation_set.all %}
                                                <tr>
                                                    <td>
                                                        <input type="radio" name="variation" value="{{ variation.id }}" id="vr_{{ variation.id }}" data-customprice="{{ variation.custom_price }}">
                                                    </td>
                                                    <td>
                                                        <label for="vr_{{ variation.id }}">
                                                            {{ variation.name }}
                                                        </label>
                                                    </td>
                                                    <td>
                                                        ৳ {{ variation.custom_price | default:product.default_price }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                            {% if product.productattachment_set.count %}
                                <div class="col col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5>Select attachments</h5>
                                        </div>
                                        <table class="table table-hover attachment-list">
                                            {% for attachment in product.productattachment_set.all %}
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="attachment_{{ attachment.id }}" id="at_{{ attachment.id }}" data-extraprice="{{ attachment.extra_price }}">
                                                    </td>
                                                    <td>
                                                        <label for="at_{{ attachment.id }}">
                                                            {{ attachment.name }}
                                                        </label>
                                                    </td>
                                                    <td>
                                                        + ৳ {{ attachment.extra_price | default:0.0 }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <hr>

                    {% endif %}

                    <div class="row">
                        <div class="col col-md-2">
                            <label for="itemQuantity">Select Quantity</label>
                        </div>
                        <div class="col col-md-2">
                            <input type="number" class="form-control" min="1" max="{{ product.stock_quantity }}" name="quantity" value="1" id="itemQuantity" required>
                        </div>

                        <div class="col col-md-4">
                            <h4>
                                Subtotal:
                                <span class="text-success">
                                    ৳ <span id="subtotal" data-defaultprice="{{ product.default_price }}">{{ product.default_price }}</span>
                                </span>
                            </h4>
                        </div>

                        <div class="col col-md-4">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                Add to cart
                            </button>
                        </div>

                    </div>
                    {% if product.offered_schemes.count %}
                        <div class="row">
                            <div class="col-md-12 installment-controls" style="margin: 20px 0 0;">
                                <p>
                                    <a href="javascript:$('.installment-controls p').toggle()">Show installment options</a>
                                </p>
                                <p style="display: none;">
                                    <label>Choose an installment option</label>
                                    &nbsp;&nbsp;&nbsp;
                                    <select name="chosen_scheme">
                                        <option value="0" selected>None</option>
                                        {% for scheme in product.offered_schemes.all %}
                                            <option value="{{ scheme.id }}">{{ scheme.name }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </form>
            {% else %}
                <div class="alert alert-danger">
                    <strong>Sorry!</strong>
                    This product is out of stock. Please try later.
                </div>
            {% endif %}



            <hr>

            {% if user.is_authenticated %}
            <button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#newReviewModal">
                <span class="glyphicon glyphicon-pencil"></span>
                Write a review
            </button>
            {% endif %}
            {% if product.review_set.count %}
                <h3 id="reviews">Reviews ({{ product.review_set.count }})</h3>
            {% else %}
                <h3 id="reviews">No reviews</h3>
            {% endif %}
            <br>
            {% for review in product.review_set.all %}
                <div class="row">
                    <div class="col col-md-2">
                        <img src="{{ review.customer.get_photo_url }}" class="review-user-img" alt="photo">
                    </div>
                    <div class="col col-md-10">
                        <strong>{{ review.customer.user.get_full_name }}</strong>
                        <div class="rating" data-rating="{{ review.rating }}"></div>
                        <p>
                            {{ review.message }}
                        </p>
                        {% if user.is_staff or user.id == review.customer.user.id %}
                            <a href="{% url 'remove_review' review.id %}" class="btn btn-danger btn-xs">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>


    <div class="modal fade" id="newReviewModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'product_add_review' product.id %}" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Write a review</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <strong>Select a rating:</strong>
                            &nbsp;&nbsp;
                            {% for r in '12345' %}
                                <label for="rv_{{ r }}">
                                    <input type="radio" id="rv_{{ r }}" name="rating" value="{{ r }}" required>
                                    {{ r }}
                                    &nbsp;&nbsp;
                                </label>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}


{% block extra_scripts %}
    <script src="{% static 'vendor/lightbox/ekko-lightbox.min.js' %}"></script>
    <script>
    $(function () {
        $('.rating').each(function (_, el) {
            makeRatingStars($(el));
        });

        $('.attachment-list input, .variation-list input, input[name=quantity]').change(function () {
            $('#subtotal').text(calcualteTotal());
        });
    });
    </script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'vendor/lightbox/ekko-lightbox.min.css' %}">
    <style>
        .installment-controls p {
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}