{% load static %}
{% load markdown %}

{% for product in products %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col col-md-3">
                    <a href="{% url 'product_details' product.id %}">
                        <img class="product-photo" src="{{ product.get_photo_url }}" alt="Product Photo" style="max-width: 100%;">
                    </a>
                </div>
                <div class="col col-md-9">
                    <h4>
                        <a href="{% url 'product_details' product.id %}">
                            {{ product.name }}
                        </a>
                    </h4>
                    <p>
                        <small class="product-descr preformatted">{{ product.short_description | default:product.description | default:'' }}</small>
                    </p>

                    <table class="product-list-info-table">
                        <tr>
                            <td><strong>Rating</strong></td>
                            <td><div class="rating" data-rating="{{ product.avg_rating }}"></div></td>
                        </tr>
                        <tr>
                            <td><strong>Price</strong></td>
                            <td><strong class="label label-primary">৳ {{ product.default_price | floatformat:'0' }}</strong></td>
                        </tr>
                    </table>
                    <br>
                    <p>
                        <a class="btn btn-sm btn-info" href="{% url 'product_details' product.id %}">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            Show Details
                        </a>
                        <a class="btn btn-sm btn-default" href="{% url 'product_details' product.id %}#reviews">
                            <span class="glyphicon glyphicon-comment"></span>
                            Read Reviews
                        </a>
                    </p>
                </div>
            </div>
        </div>


    </div>
{% empty %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="text-muted" style="text-align: center; padding: 20px 0; margin: 0;">
                {% if request.GET.query %}
                    Sorry, no products found for this search query.
                {% else %}
                    Sorry, there's no products in this category.
                {% endif %}
            </p>
        </div>
    </div>
{% endfor %}