{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col col-md-3">
            <form method="get" id="searchForm">
                <div class="input-group" style="margin-bottom: 15px;">
                    <input type="search" class="form-control" name="query" value="{{ request.GET.query }}"
                           placeholder="Search for products" id="searchQuery">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="searchBtn">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        {% if request.GET.query %}
                            <a class="btn btn-danger" href="{% url 'product_list' %}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        {% endif %}
                    </div>
                </form>
            </div>

            <ul class="nav nav-pills nav-stacked">
                {% for category in categories %}
                    <li {% if category.id == current_category.id %}class="active"{% endif %}>
                        <a href="{% url 'product_list' category.id %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col col-md-9">
            <div class="row" style="padding: 10px 0;">
                <div class="col-md-7">
                    <h3 style="margin-top: 0;">{{ current_category.name }}</h3>
                </div>

                <div class="col-md-3">
                    <div class="btn-group btn-group-justified" style="float: right;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm orderByBtn" data-field="name">
                                Name
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm orderByBtn" data-field="default_price">
                                Price
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm orderByBtn" data-field="rating">
                                Rating
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group btn-group-justified" style="float: right;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm ascBtn" data-value="yes">
                                <span class="glyphicon glyphicon-sort-by-attributes"></span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm ascBtn" data-value="no">
                                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'main/product_list_contents.html' %}
        </div>
    </div>
{% endblock %}


{% block extra_styles %}
    <style>
        .has-success .form-control, .has-success .form-control:focus {
            border: 2px solid #2c3e50;
        }
    </style>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'vendor/uri.js' %}"></script>
    <script src="{% static 'vendor/Readmore.js' %}"></script>
    <script>
    $(function () {
        var uri = URI(window.location);

        if (!uri.hasQuery('order')) {
            uri.setQuery('order', 'name');
        }

        var $orderByBtns = $('.orderByBtn');
        var $ascBtns = $('.ascBtn');

        $orderByBtns.each(function (_, el) {
            var $el = $(el);
            if (uri.hasQuery('order', $el.data('field'))) {
                $el.addClass('btn-primary');
            }
        });

        if (uri.hasQuery('ascending', 'no')) {
            $('.ascBtn[data-value=no]').addClass('btn-primary');
        } else {
            $('.ascBtn[data-value=yes]').addClass('btn-primary');
        }


        $('.rating').each(function (_, el) {
            makeRatingStars($(el));
        });

        $orderByBtns.click(function () {
            uri.setSearch('order', $(this).data('field'));
            window.location = uri.toString();
        });

        $ascBtns.click(function () {
            uri.setSearch('ascending', $(this).data('value'));
            window.location = uri.toString();
        });

        $('.product-descr').readmore();

        if ('{{ request.GET.query }}' !== '') {
            var $f = $('#searchForm');
            $f.find('.input-group').addClass('has-success');
            $f.find('button').addClass('btn-primary');
        }
    });

    </script>
{% endblock %}