{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col col-md-4">

            <h2>{{ vendor.user.get_full_name }}</h2>
            <br>

            <h4>Office address:</h4>
            <p>
                {{ vendor.office_address }}
            </p>
            <br>
            <h4>Support hotline:</h4>
            <p>
                {{ vendor.support_hotline }}
            </p>

        </div>

        <div class="col col-md-8">
            <h3>Products by this vendor</h3>
            <br>

            {% include 'main/product_list_contents.html' %}
        </div>
    </div>

{% endblock %}


{% block extra_scripts %}
    <script>

    $(function () {
        $('.rating').each(function (_, el) {
            makeRatingStars($(el));
        });
    });

    </script>
{% endblock %}