{% extends 'dashboard/dashboard_base.html' %}

{% block dashboard_section %}
        <div class="well">
            <form id="timeLimitForm" class="form-inline" method="get">
                <label>Start:</label>
                <div class="form-group">
                    <div class='input-group date' id='startDateTime' data-date-format="YYYY-MM-DD HH:mm:SS">
                        <input type='text' name="startDateTime" class="form-control" readonly required />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <label>End:</label>
                <div class="form-group">
                    <div class='input-group date' id='endDateTime' data-date-format="YYYY-MM-DD HH:mm:ss">
                        <input type='text' name="endDateTime" class="form-control" readonly required />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="loadStats">Load Statistics</button>
                {% if not today %}<a href="{% url 'item-sales' %}" class="btn btn-danger">Reset</a>{% endif %}
            </form>
            <script>
                var f = $('#timeLimitForm');
                $('#makeXLS').on('click', function () {
                    f.attr('action', '/misc_api/xls/items/');
                    f.submit();
                });
                $('#loadStats').on('click', function () {
                    f.attr('action', '');
                    f.submit();
                });
            </script>
        </div>

{% if total_items > 0 %}
<div class="row">
    <div class="col col-md-6">
        <h2>Number of sales per product</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Item name</th>
                    <th colspan="2">Units sold</th>
                </tr>
            </thead>
            <tbody>
                {% for item in all_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.count }}</td>
                    <td>
                        <a href="{% url 'product-history' %}?product_id={{ item.id }}" class="btn btn-xs btn-primary btn-block">
                            History
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col col-md-6">
        <div id="popularityChart"></div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col col-md-8 col-md-offset-2">
        <div class="alert alert-danger">
            <strong>Empty!</strong>
            No sales has been made in this time period.
            <span style="text-decoration: underline; font-style: italic;">
                <a class="pull-right" href="{% url 'item-sales' %}" style="color: #fff">[Show today's sales]</a>
            </span>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block extra_scripts %}
    {% load staticfiles %}
    <script src="{% static 'vendor/moment.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'vendor/canvasjs.min.js' %}"></script>
    <script>
        $(function () {
            $.fn.datetimepicker.defaults = {
                useSeconds: true,
                useCurrent: false
            };
            $('#startDateTime').datetimepicker({
                defaultDate: moment("{{ start_datetime }}")
            });
            $('#endDateTime').datetimepicker({
                defaultDate: moment("{{ end_datetime }}")
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            try {
                (new CanvasJS.Chart("popularityChart", {
                    title: {
                        text: "Top most popular items",
                        fontFamily: "Helvetica",
                        fontSize: 32,
                        fontWeight: "normal"
                    },
                    data: [
                        {
                            type: "pie",
                            showInLegend: true,
                            dataPoints: JSON.parse('{% autoescape off %}{{ top_items }}{% endautoescape %}')
                        }
                    ]
                })).render();
            } catch (e) {};
        });
    </script>

{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" />
    <style>
    .stats-table td {
        text-align: right;
    }
    h2  {
        text-align: center;
        font-weight: normal;
    }
    #activityChart {
        height: 300px;
    }
    #startDateTime, #endDateTime {
        width: 225px;
        margin-right: 15px;
    }
    </style>
{% endblock %}