{% extends 'dashboard/dashboard_base.html' %}

{% block dashboard_section %}
    <div class="well">
        <form id="timeLimitForm" class="form-inline" method="get">
            <label>Start:</label>
            <div class="form-group">
                <div class='input-group date' id='startDateTime' data-date-format="YYYY-MM-DD HH:mm:SS">
                    <input type='text' name="startDateTime" class="form-control" readonly required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <label>End:</label>
            <div class="form-group">
                <div class='input-group date' id='endDateTime' data-date-format="YYYY-MM-DD HH:mm:ss">
                    <input type='text' name="endDateTime" class="form-control" readonly required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="loadStats">Load Statistics</button>
            {% if not today %}<a href="{% url 'period-sales' %}" class="btn btn-danger">Reset</a>{% endif %}
        </form>
        <script>
            $(function() {
                var f = $('#timeLimitForm');
                $('#makeXLS').on('click', function () {
                    f.attr('action', '/dashboard/report/xls/');
                    f.submit();
                });
                $('#loadStats').on('click', function () {
                    f.attr('action', '');
                    f.submit();
                });
            });
        </script>
    </div>



{% if total_sales > 0 %}
<div class="row">
    <div class="col col-md-6 col-md-offset-3">
        <h2>Sales Summary</h2>
        <table class="table table-bordered stats-table">
            <tr>
                <th>Total number of sales</th>
                <td>{{ total_sales }}</td>
            </tr>
            <tr>
                <th>Total amount of revenue</th>
                <td>৳{{ revenue }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col col-md-12">
        <h2>All Sales Description</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Order Description</th>
                    <th>Charged Amount</th>
                    <th>Date & Time</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders_date %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>
                            <ul>
                                {% for cartitem in order.cartitem_set.all %}
                                    <li>
                                        <strong>{{ cartitem.product.name }}</strong>
                                        <small>
                                            <br><span style="text-decoration: underline;">Quantity:</span> {{ cartitem.quantity }}
                                            {% if cartitem.product_variation %}
                                                <br><span style="text-decoration: underline;">Variation:</span> {{ cartitem.product_variation.name }}
                                            {% endif %}
                                            {% if cartitem.product_attachment.count %}
                                                <br><span style="text-decoration: underline;">Attachments</span>
                                                <ul>
                                                    {% for att in cartitem.product_attachment.all %}
                                                        <li>{{ att.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </small>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <strong>Total: </strong>৳{{ order.total }}<br/>
                        </td>
                        <td>{{ order.completed_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <p style="text-align: center">
        <button type="button" class="btn btn-success" id="makeXLS">Export statistics as XLS report</button>
        <br><br>
    </p>
{% else %}
<div class="row">
    <div class="col col-md-8 col-md-offset-2">
        <div class="alert alert-danger">
            <strong>Empty!</strong>
            No sales has been made in this time period.
            <span style="text-decoration: underline; font-style: italic;">
                <a class="pull-right" href="{% url 'period-sales' %}" style="color: #fff">[Show today's sales]</a>
            </span>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
    {% load staticfiles %}
    <script src="{% static 'vendor/moment.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'vendor/canvasjs.min.js' %}"></script>
    <script>
        $(function () {
            $.fn.datetimepicker.defaults = {
                useSeconds: true,
                useCurrent: false
            };
            $('#startDateTime').datetimepicker({
                defaultDate: moment("{{ start_datetime }}")
            });
            $('#endDateTime').datetimepicker({
                defaultDate: moment("{{ end_datetime }}")
            });
        });
    </script>

{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" />
    <style>
    .stats-table td {
        text-align: right;
    }
    h2  {
        text-align: center;
        font-weight: normal;
    }
    #activityChart {
        height: 300px;
    }
    #startDateTime, #endDateTime {
        width: 225px;
        margin-right: 15px;
    }
    </style>
{% endblock %}