{% extends 'dashboard/dashboard_base.html' %}

{% block dashboard_section %}
    <div>
        <h3>Purchase History of "{{ product.name }}"</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Checkout date</th>
                    <th colspan="2">Customer name</th>
                    <th>Quantity of sale</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                    <tr>
                        <td>{{ entry.checkout_at }}</td>
                        <td>{{ entry.customer_name }}</td>
                        <td>
                            <a href="{% url 'user-history' %}?username={{ entry.username }}"
                               class="btn btn-xs btn-primary btn-block">
                                User history
                            </a>
                        </td>
                        <td>{{ entry.quantity }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" id="printBtn">Print this page</button>
    <br><br>
{% endblock %}

{% block extra_scripts %}
    <script>
        $(function () {
            $('#printBtn').click(function () {
                $('.btn-group, .btn, .nav').addClass('hidden-print');
                window.print();
            });
        });
    </script>
{% endblock %}