{% extends 'dashboard/dashboard_base.html' %}

{% block dashboard_section %}
    <div>
        <h3>{{ target_user.get_full_name }}'s Purchase History</h3>
        {% include 'main/my_purchases.html' %}
    </div>
    <button class="btn btn-primary" id="printBtn">Print this page</button>
    <br><br>
{% endblock %}

{% block extra_scripts %}
    <script>
        $(function () {
            $('.warrantyTd').remove();

            $('#printBtn').click(function () {
                $('.btn-group, .btn, .nav').addClass('hidden-print');
                window.print();
            });
        });
    </script>
{% endblock %}