html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid #ddd;
}
footer p {
    text-align: center;
    font-size: 16px;
    margin: 12px 0;

}

.preformatted {
    white-space: pre-wrap;
}
.product-photo {
    width: 190px;
}

.product-list-info-table tr td {
    padding: 10px 0;
}

.product-list-info-table tr td:nth-child(1) {
    width: 8em;
}

.product-list-info-table tr strong.label {
    font-size: 1.2em;
}

.review-user-img {
    width: 100px;
    border-radius: 5px;
}

h4 > a {
    color: #2c3e50;
}

.cartListItem {
    padding: 5px 10px 10px;
    border: 1px solid #eee;
    margin-bottom: 5px;
}


.jumbotron {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    background: #2c3e50;
}

.jumbotron .background-img {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;

    background:url('/static/img/home-cover.jpg');
    background-blend-mode: exclusion;

    filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
}

.jumbotron .content{
    position:relative;
    z-index:2;
    color:#fff;
}