<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order info</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/flatly.min.css' %}">
    <style>
        body {
            padding: 5px;
        }
    </style>
</head>
<body>

    <h3>Warranty Claim Details</h3>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Claim ID</th>
            <td>{{ warranty_claim.id }}</td>
            </tr>
            <tr>
                <th>User info</th>
                <td>
                    <p><strong>Name:</strong> {{ warranty_claim.cartitem.cart.customer.user.get_full_name }}</p>
                    <p><strong>Email:</strong> {{ warranty_claim.cartitem.cart.customer.user.email }}</p>
                </td>
            </tr>
            <tr>
                <th>Date & time</th>
                <td>{{ warranty_claim.claim_time }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>
                    <a href="/admin/main/product/{{ warranty_claim.cartitem.product.id }}/" target="_blank">
                        [{{ warranty_claim.cartitem.product.id }}]
                    </a>
                    {{ warranty_claim.cartitem.product.name }}
                </td>
            </tr>
            <tr>
                <th>Issue details</th>
                <td>
                    <p class="preformatted">{{ warranty_claim.issue_details }}</p>
                </td>
            </tr>
        </tbody>
    </table>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" name="smsReply" placeholder="SMS Reply (optional)"
                      style="width: 240px; height: 110px; resize: none;" maxlength="100"></textarea>
        </div>
        <div class="form-group" style="margin-top: 25px;">
            <label for="accept_claim_yes">
                <input type="radio" id="accept_claim_yes" name="acceptClaim" value="yes" checked>
                &nbsp; Accept Claim
            </label>
            &nbsp; &nbsp; &nbsp;
            <label for="accept_claim_no">
                <input type="radio" id="accept_claim_no" name="acceptClaim" value="no">
                &nbsp; Reject Claim
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Process Claim</button>
    </form>

</body>
</html>