{% extends 'dashboard/dashboard_base.html' %}
{% load static %}


{% block dashboard_section %}
    <div class="row">
        <div class="col col-md-12">

            <h3>Warranty Claims</h3>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Claim ID</th>
                        <th>Customer info</th>
                        <th>Date & time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for claim in warranty_claims %}
                    <tr>
                        <td>{{ claim.id }}</td>
                        <td>{{ claim.cartitem.cart.customer.user.get_full_name }}</td>
                        <td>{{ claim.cartitem.cart.completed_at }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-block warrantyDetailsBtn" data-claim-id="{{ claim.id }}">
                                Show details
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            <p style="padding: 10px; text-align: center;" class="text-muted">
                                No warranty claims.
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



        </div>
    </div>

    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        $(function () {

            $('.warrantyDetailsBtn').on('click', function () {
                createWindow('/dashboard/warranty-details/' + $(this).data('claimId').toString() + '/');
            });

        });
    </script>


{% endblock %}

