<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ SITE_TITLE }}{% endblock %}</title>

    {% load staticfiles %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/flatly.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_styles %}{% endblock %}

    <!-- Scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</head>
<body>
    {% include 'nav.html' %}
    {% include 'messages.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>
            2015 - 2016 &copy; CSE 4000 - Project: Online Purchases and Sales Management System.
        </p>
    </footer>
</body>
</html>