<!-- Session Messages -->
{% if messages %}
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2">
                {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ message.tags | title }}!</strong>
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}