<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">{{ SITE_TITLE }}</a>
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'product_list' %}">Products</a>
            </li>
            {% if user.is_staff %}
                <li>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
            {% endif %}
        </ul>

        {% include 'main/cart_dropdown.html' %}

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-danger navbar-btn navbar-right">
                <span class="glyphicon glyphicon-log-out"></span>
                Logout
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'profile' %}">
                        <span class="glyphicon glyphicon-user"></span>
                        &nbsp; {{ user.get_full_name | default:user.username }}
                    </a>
                </li>
            </ul>
        {% else %}
            <div class="btn-group navbar-right navbar-btn">
                <a href="{% url 'login' %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Login
                </a>
                <a href="{% url 'register' %}" class="btn btn-info">
                    <span class="glyphicon glyphicon-check"></span>
                    Register
                </a>
            </div>
        {% endif %}
    </div>
</nav>
